[Unit]
Description=jellyseerr quadlet

[Container]
Image=docker.io/fallenbagel/jellyseerr:latest
AutoUpdate=registry
ContainerName=jellyseerr
Pull=always
Pod=media.pod

Network=

Volume=/srv/containers/jellyseerr/config:/config

EnvironmentFile=jellyseerr.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target