[Unit]
Description=jellyfin quadlet

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
ContainerName=jellyfin
Pull=always
Pod=media.pod

Network=

Volume=/mnt/m2:/m2
Volume=/mnt/sd:/sdcard
Volume=/mnt/redbook:/redbook
Volume=/dev/dri/renderD128:/dev/dri/renderD128
Volume=/dev/dri/card0:/dev/dri/card0
Volume=/srv/containers/jellyfin/cache:/cache
Volume=/srv/containers/jellyfin/config:/config

EnvironmentFile=jellyfin.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target