[Unit]
Description=radarr quadlet

[Container]
Image=docker.io/linuxserver/radarr:latest
ContainerName=radarr
Pull=always
Pod=media.pod

Network=

Volume=/srv/containers/sabnzbd/downloads:/downloads
Volume=/mnt/m2:/m2
Volume=/mnt/sd:/sdcard
Volume=/mnt/redbook:/redbook
Volume=/srv/containers/radarr/config:/config

EnvironmentFile=radarr.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target