[Unit]
Description=sabnzbd quadlet

[Container]
Image=docker.io/linuxserver/sabnzbd:latest
ContainerName=sabnzbd
Pull=always
Pod=media.pod

Network=

Volume=/srv/containers/sabnzbd/downloads:/downloads:Z
Volume=/srv/containers/sabnzbd/incomplete-downloads:/incomplete-downloads:Z
Volume=/srv/containers/sabnzbd/jobs:/jobs:Z
Volume=/srv/containers/sabnzbd/config:/config:Z

EnvironmentFile=sabnzbd.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target