[Unit]
Description=sabnzbd quadlet

[Container]
Image=docker.io/linuxserver/sabnzbd:latest
AutoUpdate=registry
ContainerName=sabnzbd
Pull=always
Pod=media.pod

Network=

Volume=/srv/containers/sabnzbd/downloads:/downloads
Volume=/srv/containers/sabnzbd/incomplete-downloads:/incomplete-downloads
Volume=/srv/containers/sabnzbd/jobs:/jobs
Volume=/srv/containers/sabnzbd/config:/config

EnvironmentFile=sabnzbd.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target