[Unit]
Description=jellyfin quadlet

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
ContainerName=jellyfin
Pull=always
Pod=media.pod

Network=

Volume=/srv/containers/jellyfin/config:/config:Z
Volume=/srv/containers/jellyfin/cache:/cache:Z
Volume=/srv/media/tv:/tv:Z
Volume=/srv/media/movies:/movies:Z
Volume=/srv/media/music:/music:Z

EnvironmentFile=jellyfin.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target