[Unit]
Description=jellyfin quadlet

[Container]
Image=docker.io/jellyfin/jellyfin:latest
AutoUpdate=registry
ContainerName=jellyfin
Pull=always
Pod=media.pod

Network=

Volume=/srv/containers/jellyfin/config:/config
Volume=/srv/containers/jellyfin/cache:/cache
Volume=/srv/media:/media

EnvironmentFile=jellyfin.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target