[Unit]
Description=Radarr quadlet

[Container]
Image=docker.io/linuxserver/radarr:latest
AutoUpdate=registry
ContainerName=radarr
Pull=always
Pod=media.pod

Network=

Volume=/srv/containers/radarr/config:/config
Volume=/srv/containers/sabnzbd/downloads:/downloads
Volume=/srv/media/movies:/media

EnvironmentFile=radarr.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target