[Unit]
Description=sonarr quadlet

[Container]
Image=docker.io/linuxserver/sonarr:latest
AutoUpdate=registry
ContainerName=sonarr
Pull=always
Pod=media.pod

Network=

Volume=/srv/containers/sonarr/config:/config
Volume=/srv/containers/sabnzbd/downloads:/downloads
Volume=/srv/media/tv:/media

EnvironmentFile=sonarr.env

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=multi-user.target default.target